## **Sensitivity analysis for Stock market. It predicts if the stock price is affected by the top news headlines **

In [2]:
# Installing dependencies 
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 2.8MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.10)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [3]:
# importing libraries
import pandas as pd
import numpy as np
from textblob import TextBlob
import re
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

Mounting drive to read the CSV files

In [1]:
from google.colab import drive
drive.mount("/content/drive/")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

# **Importing the Datsets from Drive**

In [4]:
# reading the files into variables 
df_news = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Sensitivity Analysis for Stocks /Combined_News_DJIA.csv")
df_stock = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Sensitivity Analysis for Stocks /upload_DJIA_table.csv")

In [7]:
df_stock.head(3)

         Date          Open  ...     Volume     Adj Close
0  2016-07-01  17924.240234  ...   82160000  17949.369141
1  2016-06-30  17712.759766  ...  133030000  17929.990234
2  2016-06-29  17456.019531  ...  106380000  17694.679688

[3 rows x 7 columns]

In [8]:
df_news.head(3)
# label 0-index went down
# label 1-index went up

         Date  ...                                              Top25
0  2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"
1  2008-08-11  ...  b"So this is what it's come to: trading sex fo...
2  2008-08-12  ...  b"BBC NEWS | Asia-Pacific | Extinction 'by man...

[3 rows x 27 columns]

In [9]:
# structure of the dataset
df_news.shape

(1989, 27)

In [10]:
df_stock.shape

(1989, 7)

# **Merging and cleaning the dataser **

In [5]:
# merging dataset on date feild with inner joint type
merge_df = df_news.merge(df_stock, how="inner", on="Date", left_index=True)

In [14]:
merge_df.shape

(1989, 33)

In [6]:
merge_df.head(5)

            Date  Label  ...     Volume     Adj Close
1988  2008-08-08      0  ...  212830000  11734.320312
1987  2008-08-11      1  ...  183190000  11782.349609
1986  2008-08-12      0  ...  173590000  11642.469727
1985  2008-08-13      0  ...  182550000  11532.959961
1984  2008-08-14      1  ...  159790000  11615.929688

[5 rows x 33 columns]

In [7]:
# combining all news columns into 1 columns
headline = []

for i in range(0, len(merge_df.index)):
  headline.append(' '.join(str(x) for x in merge_df.iloc[i, 2:27]))

In [8]:
headline[0]

'b"Georgia \'downs two Russian warplanes\' as countries move to brink of war" b\'BREAKING: Musharraf to be impeached.\' b\'Russia Today: Columns of troops roll into South Ossetia; footage from fighting (YouTube)\' b\'Russian tanks are moving towards the capital of South Ossetia, which has reportedly been completely destroyed by Georgian artillery fire\' b"Afghan children raped with \'impunity,\' U.N. official says - this is sick, a three year old was raped and they do nothing" b\'150 Russian tanks have entered South Ossetia whilst Georgia shoots down two Russian jets.\' b"Breaking: Georgia invades South Ossetia, Russia warned it would intervene on SO\'s side" b"The \'enemy combatent\' trials are nothing but a sham: Salim Haman has been sentenced to 5 1/2 years, but will be kept longer anyway just because they feel like it." b\'Georgian troops retreat from S. Osettain capital, presumably leaving several hundred people killed. [VIDEO]\' b\'Did the U.S. Prep Georgia for War with Russia?\' b\'Rice Gives Green Light for Israel to Attack Iran: Says U.S. has no veto over Israeli military ops\' b\'Announcing:Class Action Lawsuit on Behalf of American Public Against the FBI\' b"So---Russia and Georgia are at war and the NYT\'s top story is opening ceremonies of the Olympics?  What a fucking disgrace and yet further proof of the decline of journalism." b"China tells Bush to stay out of other countries\' affairs" b\'Did World War III start today?\' b\'Georgia Invades South Ossetia - if Russia gets involved, will NATO absorb Georgia and unleash a full scale war?\' b\'Al-Qaeda Faces Islamist Backlash\' b\'Condoleezza Rice: "The US would not act to prevent an Israeli strike on Iran." Israeli Defense Minister Ehud Barak: "Israel is prepared for uncompromising victory in the case of military hostilities."\' b\'This is a busy day:  The European Union has approved new sanctions against Iran in protest at its nuclear programme.\' b"Georgia will withdraw 1,000 soldiers from Iraq to help fight off Russian forces in Georgia\'s breakaway region of South Ossetia" b\'Why the Pentagon Thinks Attacking Iran is a Bad Idea - US News &amp; World Report\' b\'Caucasus in crisis: Georgia invades South Ossetia\' b\'Indian shoe manufactory  - And again in a series of "you do not like your work?"\' b\'Visitors Suffering from Mental Illnesses Banned from Olympics\' b"No Help for Mexico\'s Kidnapping Surge"'

In [9]:
# cleaing the new headline dataset
clean_headline = []

# removing b'
# remove b"
# remove \' 
for i in range(0, len(headline)):
  clean_headline.append(re.sub("b[(')]", " ", headline[i])) 
  clean_headline[i] = re.sub('b[(")]', " ", clean_headline[i])
  clean_headline[i] = re.sub("\'", " ", clean_headline[i])

In [10]:
clean_headline[0:2]

[' Georgia  downs two Russian warplanes  as countries move to brink of war"  BREAKING: Musharraf to be impeached.   Russia Today: Columns of troops roll into South Ossetia; footage from fighting (YouTube)   Russian tanks are moving towards the capital of South Ossetia, which has reportedly been completely destroyed by Georgian artillery fire   Afghan children raped with  impunity,  U.N. official says - this is sick, a three year old was raped and they do nothing"  150 Russian tanks have entered South Ossetia whilst Georgia shoots down two Russian jets.   Breaking: Georgia invades South Ossetia, Russia warned it would intervene on SO s side"  The  enemy combatent  trials are nothing but a sham: Salim Haman has been sentenced to 5 1/2 years, but will be kept longer anyway just because they feel like it."  Georgian troops retreat from S. Osettain capital, presumably leaving several hundred people killed. [VIDEO]   Did the U.S. Prep Georgia for War with Russia?   Rice Gives Green Light for Israel to Attack Iran: Says U.S. has no veto over Israeli military ops   Announcing:Class Action Lawsuit on Behalf of American Public Against the FBI   So---Russia and Georgia are at war and the NYT s top story is opening ceremonies of the Olympics?  What a fucking disgrace and yet further proof of the decline of journalism."  China tells Bush to stay out of other countries  affairs"  Did World War III start today?   Georgia Invades South Ossetia - if Russia gets involved, will NATO absorb Georgia and unleash a full scale war?   Al-Qaeda Faces Islamist Backlash   Condoleezza Rice: "The US would not act to prevent an Israeli strike on Iran." Israeli Defense Minister Ehud Barak: "Israel is prepared for uncompromising victory in the case of military hostilities."   This is a busy day:  The European Union has approved new sanctions against Iran in protest at its nuclear programme.   Georgia will withdraw 1,000 soldiers from Iraq to help fight off Russian forces in Georgia s breakaway region of South Ossetia"  Why the Pentagon Thinks Attacking Iran is a Bad Idea - US News &amp; World Report   Caucasus in crisis: Georgia invades South Ossetia   Indian shoe manufactory  - And again in a series of "you do not like your work?"   Visitors Suffering from Mental Illnesses Banned from Olympics   No Help for Mexico s Kidnapping Surge"',
 ' Why wont America and Nato help us? If they wont help us now, why did we help them in Iraq?   Bush puts foot down on Georgian conflict   Jewish Georgian minister: Thanks to Israeli training, we re fending off Russia "  Georgian army flees in disarray as Russians advance - Gori abandoned to Russia without a shot fired   Olympic opening ceremony fireworks  faked "  What were the Mossad with fraudulent New Zealand Passports doing in Iraq?   Russia angered by Israeli military sale to Georgia   An American citizen living in S.Ossetia blames U.S. and Georgian leaders for the genocide of innocent people   Welcome To World War IV! Now In High Definition!   Georgia s move, a mistake of monumental proportions "  Russia presses deeper into Georgia; U.S. says regime change is goal   Abhinav Bindra wins first ever Individual Olympic Gold Medal for India    U.S. ship heads for Arctic to define territory   Drivers in a Jerusalem taxi station threaten to quit rather than work for their new boss - an Ara   The French Team is Stunned by Phelps and the 4x100m Relay Team   Israel and the US behind the Georgian aggression?   "Do not believe TV, neither Russian nor Georgian. There are much more victims"   Riots are still going on in Montreal (Canada) because police murdered a boy on Saturday.   China to overtake US as largest manufacturer   War in South Ossetia [PICS]   Israeli Physicians Group Condemns State Torture    Russia has just beaten the United States over the head with Peak Oil   Perhaps *the* question about the Georgia - Russia conflict    Russia is so much better at war   So this is what it s come to: trading sex for food."']

In [11]:
# adding cleaned headline to the merged dataset
merge_df['Combine_News'] = clean_headline

merge_df.head(2)

            Date  ...                                       Combine_News
1988  2008-08-08  ...   Georgia  downs two Russian warplanes  as coun...
1987  2008-08-11  ...   Why wont America and Nato help us? If they wo...

[2 rows x 34 columns]

# **Data subjectivity and polarity**
*using TextBlob*

In [12]:
# fuction to get subjectivity
def getSubjectivity(text):
  return TextBlob(text).sentiment.subjectivity

# scale 0 to 1
# Subjectivity 0 - objective 
# Subjectivity 1 - Subjective

In [15]:
# fucntion to get polarity
def getPolarity(text):
  return TextBlob(text).sentiment.polarity

# scale -1 to 1

In [16]:
# tabluate the results of the previous functions
merge_df['Subjectivity'] = merge_df['Combine_News'].apply(getSubjectivity)
merge_df['Polarity'] = merge_df['Combine_News'].apply(getPolarity)

In [19]:
merge_df.head(2)

            Date  Label  ... Subjectivity  Polarity
1988  2008-08-08      0  ...     0.267549 -0.048568
1987  2008-08-11      1  ...     0.374806  0.121956

[2 rows x 36 columns]

# ***Sentiment Score***

In [22]:
# fuction to get sentiment score
def get_SentimentIntensityAnalyzer(text):
  sia = SentimentIntensityAnalyzer()
  sentiment = sia.polarity_scores(text)
  return sentiment

In [24]:
# get sentiment score for each day
compound = []
neg = []
pos = []
neu = []
SIA = 0

for i in range(0, len(merge_df['Combine_News'])):
  SIA = get_SentimentIntensityAnalyzer(merge_df['Combine_News'][i])
  compound.append(SIA['compound'])
  neg.append(SIA['neg'])
  neu.append(SIA['neu'])
  pos.append(SIA['pos'])

In [25]:
# adding sentiment scores to the dataset
merge_df['Compound'] = compound
merge_df['Negative'] = neg
merge_df['Neutral'] = neu
merge_df['Positive'] = pos

In [26]:
merge_df.head(2)

            Date  Label  ... Neutral Positive
1988  2008-08-08      0  ...   0.731     0.06
1987  2008-08-11      1  ...   0.740     0.06

[2 rows x 40 columns]

# **Trimming the dataset for final analysis**

In [27]:
# trimming the dataset
df = merge_df
df = df.drop(columns = ['Top1', 'Top2','Top3','Top4','Top5','Top6','Top7','Top8','Top9','Top10','Top11', 'Top12','Top13','Top14', 'Top15', 'Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21', 'Top22', 'Top23', 'Top24', 'Top25', 'Close', 'Combine_News' ])

In [31]:
df = df.drop(columns=['Date'])
df.head(2)

      Label          Open          High  ...  Negative  Neutral  Positive
1988      0  11432.089844  11759.959961  ...     0.209    0.731      0.06
1987      1  11729.669922  11867.110352  ...     0.200    0.740      0.06

[2 rows x 12 columns]

In [32]:
df.shape

(1989, 12)

# Creating X and Y data subsets

In [33]:
# X = feature dataset
X = df
X = np.array(X.drop(['Label'], 1))

# Y = Target dataset
Y = np.array(df['Label'])

# Creating Training and Testing dataset (80:20)

In [35]:
# Sliting the data into 80% for training using train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

# **Creating Model using Linear Discrminant Analysis **

In [36]:
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

In [38]:
# using the model on test data for predicting y
predict = model.predict(x_test)
predict

array([1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0])

# **Model Performance**

In [39]:
# Model Matrix
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.98      0.81      0.89       193
           1       0.85      0.99      0.91       205

    accuracy                           0.90       398
   macro avg       0.91      0.90      0.90       398
weighted avg       0.91      0.90      0.90       398

# **Results **
## **Model is 90% accurate **